*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 100;
  box-sizing: border-box;
  line-height: 3.2rem;
  background: #fafafb;
  padding: 1.8rem;
}

@media (min-width: 945px) {
  body {
    padding: 2.4rem 7.2rem;
  }
}

img {
  width: 100%;
  object-fit: fill;
  border-radius: 0.8rem;
}

a {
  color: inherit;
  text-decoration: none;
}
/* for alerts */
.section {
  position: relative;
}
/* ---- BACKGROUND LOGIN / SIGNUP */
@media (min-width: 600px) {
  .background__auth {
    border: 1px solid #bdbdbd;
    border-radius: 0.8rem;
    padding: 5rem;
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 800px) {
  .background__auth {
    width: 50%;
  }
}

@media (min-width: 1100px) {
  .background__auth {
    width: 40%;
  }
}
@media (min-width: 1375px) {
  .background__auth {
    width: 30%;
  }
}
/* ---- TEXT ----- */
.text-primary {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3.5rem;
}

.text-primary-md {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.9rem;
}

.text-primary-fm {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.7rem;
  color: #bdbdbd;
}

.text-primary-big {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.2rem;
}

.text-secondary {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
}

.text-tertiary {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.9rem;
  color: #828282;
}

/* UTILS */

.text-center {
  text-align: center;
}

/* ---- SPACING ---- */
.u-spacing-1 {
  margin: 1.4rem 0;
}
.u-spacing-3 {
  margin: 3.4rem 0;
}

.u-spacing-4 {
  margin: 4rem 0;
}

.rl-spacing-1 {
  margin: 0 1.4rem;
}

/* ---- BUTTONS --- */

.btn {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

.btn__blue {
  padding: 0.8rem;
  border-radius: 0.8rem;
  background: #2f80ed;
  color: #ffff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.1rem;
}

.btn__sm {
  width: 10rem;
}

/* /components/utils/alerts - UTILS */
/* Loading */
.component_loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds_ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds_ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #2f80ed;
  border-radius: 50%;
  animation: lds_ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #2f80ed transparent transparent transparent;
}
.lds_ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds_ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds_ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds_ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.alert {
  width: 100%;
  position: absolute;
  top: 1rem;
  text-align: center;
  color: #fafafb;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 0.8rem;
}
.alert--success {
  background: #2f80ed;
}

.alert--Fail {
  background: red;
}
